@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#SearchZone{
  display: flex;
  align-items: center;
  height: 50px;
}
#SearchZone img{
  height: 20px;
}
#SearchZone form{
  display: flex;
  align-items: center;
  position: absolute;
  left: 150px;
  height: 50px;
  width: 1150px;
  background-color: rgba(211, 211, 211,.3);
}
#SearchZone form *{
  height: 20px;
  background-color: rgba(211, 211, 211,0);;
  border-color: rgba(0,0,0,0);
}
#SearchZone #searchBar{
  width: 1000px;
}
#SearchZone form #SearchButton{
  position: absolute;
  right: 0px;
  color: white;
  background-color: red;
  height: 50px;
}

#SearchZone a{
  text-decoration: none;
  color: black;
}
#SearchZone #Join{
  text-decoration: none;
  color: black;
  border-width: 1px;
  border-style: outset;
  border-color: black;
  padding: 10px;
}

#Intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: rgba(232,217,217,.3);
}

#Intro h1{
  font-size: 70px;
}

#Intro article{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
  text-align: center;
}

#Intro div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 500px;
}

#Intro a{
  text-decoration: none;
  color: black;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Intro #SeePlansButton{
  color: white;
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#Description{
  height: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

#Description img{
    margin: 50px;
    height: 250px;
}

#Description h2{
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  margin: 5px;
}


#Description article{
  width: 650px;
  text-align: center;
  margin: 50px;
  height: 250px;
  margin: 5px;
}

#Options{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#Options div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
#Options div div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#Options img{
  height: 20px;
}

#Options h3{
  color: #ED1C24;
}

#Options #CreateOrg{
  height: 50px;
  width: 250px;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: white;
}

